@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

$base-color: #fbfbfb;

$color-primary:#171717;
$color-primary-light:#333333;
$color-secondary: #272727;
$color-tertiary: #333;
$card-color: #eeeeee;

$dark-subtle: rgba(255, 255, 255, 0.5);
$light-subtle: rgba(39, 39, 39, 0.5);
$highlight-dark: #ffc200;
$highlight: #058bfb;

$default-font-size: 1.6rem;

$font-para: 'Alegreya Sans';
$font-brand: 'Montez';
$font-nav-btn: 'Noto Sans JP';

$bp-largest: 68.75em;     
$bp-large: 62.5em;    
$bp-medium: 56.25em; 
$bp-small: 39.5em;
$bp-smallest: 31.25em;