@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #fbfbfb; }

body::-webkit-scrollbar {
  width: 1.5em; }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8); }

body::-webkit-scrollbar-thumb {
  background-color: #171717;
  outline: 1px solid #171717;
  border-radius: 20%; }

html {
  padding: 0;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  @media screen and (max-width: 39.5em) {
    html {
      font-size: 40%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 62.5em) {
    html {
      font-size: 53%; } }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 55%; } }

::selection {
  background-color: #171717;
  color: #fbfbfb; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 2rem !important; }
  @media screen and (max-width: 62.5em) {
    .u-margin-top-medium {
      margin-top: 1.5rem !important; } }

.u-margin-top-big {
  margin-top: 5rem !important; }
  @media screen and (max-width: 62.5em) {
    .u-margin-top-big {
      margin-top: 4rem !important; } }
  @media screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 2rem; } }

.u-margin-top-huge {
  margin-top: 9rem !important; }

.btn-primary, .btn-primary:link, .btn-primary:visited {
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 10rem;
  font-family: "Noto Sans JP";
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.4), #171717);
  transition: all .2s; }
  @media screen and (max-width: 56.25em) {
    .btn-primary, .btn-primary:link, .btn-primary:visited {
      padding: .7rem 1rem;
      font-size: 1rem; } }

.btn-primary::after {
  content: "";
  width: 40%;
  position: absolute;
  top: 3rem;
  left: 30%;
  box-shadow: 0rem 1rem 2.5rem 2rem rgba(51, 51, 51, 0.4);
  transition: all 0.2s; }
  @media screen and (max-width: 56.25em) {
    .btn-primary::after {
      box-shadow: 0rem 1rem 1.5rem 1rem rgba(51, 51, 51, 0.4); } }

.btn-primary:active {
  transform: translateY(0.7rem); }
  .btn-primary:active::after {
    box-shadow: 0rem 0.5rem 1.5rem 1.2rem rgba(51, 51, 51, 0.4); }

.btn-secondary--light, .btn-secondary--light:link, .btn-secondary--light:visited {
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.7rem 1.3rem;
  color: #2f68ec;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0.1rem 0.12rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s; }

.btn-secondary--light:active {
  color: #000;
  transform: translateY(0.1rem);
  box-shadow: 0rem 0rem rgba(0, 0, 0, 0.5); }

.sign_in_background {
  background-color: #171717;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10; }
